.texture {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
}

.homeContent {
  margin-top: 100px;
  position: relative;
}

.topbanner {
  width: 100%;
  height: 85vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerborder {
  width: 79.5%;
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 5px;
}

.collageimages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.collageImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: solid 2px white;
  border-radius: 5px;
}

.collageLeft{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.collageTop {
  height: 55%;
  display: flex;
  flex-direction: row;
}

.collageBottom {
  height: 45%;
}

.collageRight {
  width: 50%;
}

.bannercontent {
  position: absolute;
  z-index: 888;
  left: 50%;
  top: 35%;
  transform: translate(-50%);
  background-color: white;
  padding: 15px 35px 25px 35px;
  text-align: center;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannercontent h1 {
  font-size: 120px;
  margin: 0;
  padding: 0;
}

.bannercontent .explorebutton {
  background-color: #282c34;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  width: 175px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  border: none;
}

.explorebutton:hover {
  background-color: #f4ae2c;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.productSection {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 0px;
}

.productBorder {
  width: 80%;
  position: relative;
  margin-top: 100px;
}

.titleFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.titleFilter h1 {
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.searchBar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 400px;
  height: 35px;
  border-radius: 5px;
  background-color: white;
  z-index: 15;
}

.searchBar input {
  width: 375px;
  padding-left: 12.5px;
  background-color: white;
  border-radius: 5px;
  border: none;
  height: 25px;
  outline: none;
  font-size: 16px;
}

.magnifier {
  width: 20px;
  height: 25px;
  object-fit: contain;
  z-index: 998;
}

.suggestionList {
  display: block;
  position: absolute;
  top: 100px;
  right: 0;
  width: 400px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 5px 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  font-size: 16px;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0;
  gap: 20px;
  width: 100%;
  list-style: none;
}

.productCard {
  font-family: "Playfair Display", serif;
  height: 475px;
  padding: 2px;
  max-width: 300px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px -11px rgba(77,77,77,0.28);
  -moz-box-shadow: 0px 0px 40px -11px rgba(77,77,77,0.28);
  box-shadow: 0px 0px 40px -11px rgba(77,77,77,0.28);
  transition: 0.2s ease-in-out;
  margin-top: 50px;
}

.productCard img {
  width: 90%;
  height: 75%;
  max-height: 350px;
  object-fit: contain;
}

.productTitle {
  margin-top: 10px;
  font-size: 20px;
  width: 90%;
  margin-left: 12.5px;
}

.productCard:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}

.loadMoreButton {
  background-color: #282c34;
  border: hidden;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
  transition: 0.25s;
  font-size: 20px;
}


.loadMoreButton:hover {
  background-color: #f4ae2c;
}