.header { 
    background-color: #f4f4f45e;
      color: white;
      backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
    }
  
    nav {
      width: 80%;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    nav ul {
      width: 100%;
      justify-content:space-between;
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 18px;
      list-style: none;
    }
  
    nav ul a {
      color: black;
      text-decoration: none;
      transition: 0.25s ease;
      font-family: "Playfair Display", serif;
    }

    nav ul a:hover {
      transition: 0.25s ease;
      margin-bottom: 10px;
    }
  
    .logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      font-weight: 400;
      font-size: 27px;
      transition: 0.25s;
      font-family: "Abril Fatface", serif;
    }

    .logo:hover {
      transition: 0.25s ease;
      margin-bottom: 10px;
    }
  
    .leftside {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .rightside {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }

    .rightsidecart {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
    }

    .rightsidecart p {
      position: absolute;
      top: 0;
      margin-top: -5px;
      right: 0;
      padding: 0px 2.5px 2.5px 2.5px;
      border-radius: 999px;
      background-color: black;
      font-size: 16px;
      color: white;
      font-family: "Playfair Display", serif;
    }
  
    .cart {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }