.header { 
    background-color: #f4f4f45e;
      color: white;
      backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
    }
  
    nav {
      width: 80%;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    nav ul {
      width: 100%;
      justify-content:space-between;
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 18px;
      list-style: none;
    }
  
    nav ul a {
      color: black;
      text-decoration: none;
      transition: 0.25s ease;
      font-family: "Playfair Display", serif;
    }

    nav ul a:hover {
      transition: 0.25s ease;
      margin-bottom: 10px;
    }
  
    .logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      font-weight: 400;
      font-size: 27px;
      transition: 0.25s;
      font-family: "Abril Fatface", serif;
    }

    .logo:hover {
      transition: 0.25s ease;
      margin-bottom: 10px;
    }
  
    .leftside {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .rightside {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }

    .rightsidecart {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
    }

    .rightsidecart p {
      position: absolute;
      top: 0;
      margin-top: -5px;
      right: 0;
      padding: 0px 2.5px 2.5px 2.5px;
      border-radius: 999px;
      background-color: black;
      font-size: 16px;
      color: white;
      font-family: "Playfair Display", serif;
    }
  
    .cart {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .responsiveMenu {
      display: none;
      flex-direction: column;
      justify-content: left;
      gap: 30px;
      background-color: white;
      padding-left: 25px;
      padding-top: 75px;
      position: absolute;
      top: -30px;
      left: 200%;
      right: -75px;
      width: 250px;
      height: 100vh;
      transition: right 0.25s ease-in-out;
    }

    .responsiveLinks {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 100%;
    }

    .responsiveLinks .respoLink {
      width: 90%;
      height: 25px;
      text-align: left;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
    }

    .responsiveLinks .respoLink .cart {
      width: 25px;
      height: 27px;
    }

    .respoCart {
      display: flex;
      flex-direction: row;
      gap: 15px;
      position: relative;
    }

    .respoCart p {
      position: absolute;
      right: -15px;
      background-color: black;
      color: white;
      padding: 3px;
      font-size: 15px;
      border-radius: 5px;
    }

    .menuIcon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      top: -15px;
      right: -10px;
      display: none;
      transition: 0.25s;
    }

    .menuIcon img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: 0.25s;
    }

    .showMenu {
      left: 50%;
      right: 0%;
      transition: right 0.25s ease-in-out;
    }

    .logo2 {
      display: none;
      position: absolute;
      top: -17.5px;
      text-decoration: none;
      color: black;
      font-size: 30px;
      font-weight: bolder;
    }

    .noScroll {
      overflow: hidden;
    }

    .blurBackground::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(12px);
      z-index: 999;
      pointer-events: none;
      transition: 0.25s;
    }

    @media screen and (max-width: 950px) {
      .rightside {
        gap: 35px;
      }
    }
    @media screen and (max-width: 650px) {
      .leftside, .rightside {
        display: none;
      }
      .responsiveMenu {
        display: flex;
        transition: 0.25s;
      }
      .menu {
        display: none;
        transition: 0.25s;
      }
      .menuIcon {
        display: block;
        z-index: 999;
        transition: 0.25s;
      }

      .logo2 {
        display: flex;
      }
    }