.footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    height: 300px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footerBorder {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-family: "Playfair Display", serif;
  }
  .footerLeft {
    width: 32.5%;
  }
  .footerLeft h2 {
    font-size: 50px;
    margin-bottom: 15px;
  }
  .footerLeft p {
    font-size: 18px;
    margin-top: 15px;
    font-style: italic;
  }
  .footerMiddle li {
    position: absolute;
    top: 22.5%;
    left: 50%;
    width: 150px;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    font-size: 20px;
  }
  .footerMiddle li a {
    text-decoration: none;
    color:white;
    transition: 0.25s;
  }
  .footerMiddle li a:hover {
    transition: 0.25s;
    margin-left: 7px;
  }
  .footerRight {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footerCopy {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
  }

  @media screen and (max-width: 1000px) {
    .footerBorder {
      width: 90%;
    }

    .footerLeft h2 {
      font-size: 35px;
    }
  
    .footerLeft p {
      font-size: 14px;
    }
  
    .footerMiddle li {
      top: 27.5%;
      left: 53.5%;
      font-size: 16px;
    }
    .footerRight {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 750px) {
    .footerLeft {
      width: 32.5%;
    }
    .footerMiddle li {
      left: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .footer {
      height: 475px;
    }
    .footerBorder {
      width: 90%;
      height: 80%;
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      text-align: left;
    }
    .footerLeft {
      width: 100%;
    }
    .footerMiddle li {
      position: relative;
      top: 0;
      width: 100%;
    }
  }