@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: rgb(225,220,210);
  background: linear-gradient(0deg, rgba(225,220,210,1) 0%, rgba(246,242,233,1) 48%, rgba(244,244,244,1) 100%);
}

::-webkit-scrollbar  {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #bfd0a8;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8b967a;
  cursor: pointer;
  transition: 0.2s;
}

h1, h2 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Playfair Display", serif;
  font-style: normal;
}